body{
	position: relative;
	padding: 0;
	margin: 0;
}
.container{
	max-width: 920px;
	height: auto;
	margin: 0 auto;
}
.wrapper{
	border: 1px solid #333;
	width: 380px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	background: #fafafa;
}
.title{
	width: 400px;
	padding: 5px;
	margin-bottom: 10px;
}
.inputText{
	width: 400px;
	padding: 5px;
}
#message{
	width: 300px;
}
#name{
	display: inline-block;
	margin-right: 15px;
}
#edit{
	margin-right: 98px;
}
.chat{
	padding: 15px;
	border: 1px solid #333;
	background: #fafafa;
	margin-bottom: 20px;
}
#messageItem{
	border: 1px solid #777;
	margin-bottom: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	background: #fff;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.editPopup{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	height: 130px;
	border: 1px solid #333;
	background: #fff;
	text-align: center;
	padding-top: 20px;
	display: none;
	z-index: 50;
	border-radius: 5px;
}
#editFirstName{
	margin-bottom: 20px;
	width: 200px;
}
#editLastName{
	margin-bottom: 25px;
	width: 200px;
}
.signUp{
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -125px;
	width: 250px;
	height: 80px;
	border: 1px solid #333;
	background: #fff;
	text-align: center;
	padding: 15px;
	display: none;
	z-index: 50;
	border-radius: 5px;
}
#emailForSignUp{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;

}
